@using Controle_de_Contatos.Enums;
@model UsuarioModel

@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Criar um novo usuário";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemFalha"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
        @TempData["MensagemFalha"]
    </div>
}

<form asp-controller="Login" asp-action="CriarNovoUsuario" method="post">
   
    <h2 class="text-center">Criar um novo usuário</h2>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Digite o nome do usuário">
        @Html.ValidationMessageFor(o => o.Name)
    </div><br />

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o email do usuário">
        @Html.ValidationMessageFor(o => o.Email)
    </div><br />

    <div class="form-group">
        <label for="celular">login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do usuário">
        @Html.ValidationMessageFor(o => o.Login)
    </div><br />

    <div class="form-group">
        <label for="nome" class="form-label">Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="">Selecione</option>
            <option value="@PerfilEnum.Admin">Administrador</option>
            <option value="@PerfilEnum.Padrao">Padrão</option>
        </select>
        @Html.ValidationMessageFor(o => o.Perfil)
    </div><br />

    <div class="form-group">
        <label for="celular">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" placeholder="Digite a senha do usuário">
        @Html.ValidationMessageFor(o => o.Senha)
    </div><br />


    <button type="submit" class="btn btn-primary col-12">Criar Usuário</button>
    <p></p>
    <a class="btn btn-secondary col-12" asp-controller="Login" asp-action="Index" role="button">Voltar</a>
</form>